# Android Studio / IntelliJ
.idea/
*.iml

# Gradle
.gradle/
**/build/

# Local
local.properties

# Android
captures/
.externalNativeBuild/
.cxx/

# Sistema
.DS_Store
Thumbs.db

# Chaves
*.jks
*.keystore